{% extends 'base.html' %}
{% block title %}
    About QuzAura
{% endblock title %}
{% block cssfile %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock cssfile %}
{% block body %}
    <div id="big-box">
        <div id="box-img">
            <img src="{{url_for('static', filename='images/about-img.avif')}}">
        </div>
        <h2>About QuizziFY</h2>
        <div id="text-div1" class="text-divs">
            <h3 class="text-div-headings">Why We're Here</h3>
            <p>We believe <span style="color: #00FFFF;">quizzes</span> are more than just questions and answers—they're a journey to learning, self-discovery, and unforgettable fun! Our mission? To spark curiosity, make learning exciting, and keep you coming back for more brain-busting adventures.
            </p>
        </div>
        <div id="text-div2" class="text-divs">
            <h3 class="text-div-headings">What We Offer</h3>
            <p><span><span style="color: #00FFFF;">Diverse Topics: </span>From history to pop culture, we've got quizzes for everyone.</span><br>
                <span><span style="color: #00FFFF;">Dynamic Gameplay: </span>Timed challenges, real-time progress, and interactive features to keep you on your toes.</span><br>
                <span><span style="color: #00FFFF;">Fun for All:</span> Whether you're a trivia pro or a casual player, we ensure an enjoyable experience for all.</span><br>
            </p>
        </div>
        <div id="text-div3" class="text-divs">
            <h3 class="text-div-headings">Join the Quiz Revolution</h3>
            <p>At <span style="color: #00FFFF;">QuizziFY</span>, every question you answer takes you closer to leveling up your knowledge and uncovering fun facts you never knew!
            </p>
        </div>
    </div>
    <script>
        let themePurple=localStorage.getItem('theme-purple')
        let themeBlue=localStorage.getItem('theme-blue')
        let bodyGradient=localStorage.getItem('body-gradient')
        let anchorHoverOpacity=localStorage.getItem('anchor-hover-opacity')
        document.documentElement.style.setProperty('--theme-purple', themePurple);
        document.documentElement.style.setProperty('--theme-blue', themeBlue);
        document.documentElement.style.setProperty('--body-gradient', bodyGradient);
        document.documentElement.style.setProperty('--anchor-hover-opacity', anchorHoverOpacity);
        if (localStorage.getItem('theme-purple') === '#000') {
            document.documentElement.style.setProperty('--heading-color', '#fff');
        }
    </script>
{% endblock body %}