{% extends 'base.html' %} {% block cssfile %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/myQuizes.css') }}"
/>
{% endblock cssfile %} {% block body %}
<div id="main">
  <div id="myquizes-container-top">
    <div id="create-quiz">
      <h2>Create Quiz</h2>
      <div
        class="quiz-card"
        style="display: flex; justify-content: center; align-items: center" onclick="window.location.href=`{{url_for('create_quizDetails')}}`">
        +
      </div>
    </div>
    <div id="recent-quizes">
      <h2>Recent Quizzes</h2>
      {% if recent_quizes %}
      <div class="card-holder">
        {% for quiz in recent_quizes %}
        <div class="quiz-card">
          <img
            src="{{url_for('static', filename='images/'+quiz.thumbnail)}}"
            alt="{{quiz.title}}"
            onclick="window.location.href=`{{url_for('userQuizDetails', quiz_id=quiz.id)}}`"
          />
          <span class="delete"><i class="fa fa-trash" aria-hidden="true" onclick="window.location.href=`{{url_for('delete_quiz', quiz_id=quiz.id)}}`" style="color: red;"></i></span>
          <div class="quiz-card-text">
            <p>
              <span class="subject">{{quiz.subject}}</span> :
              <span class="topic">{{quiz.title}}</span>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Quizes made yet.</p>
    {% endif %}
  </div>
  </div>
  <div id="myquizes-container-bottom">
    <h2>Your Quizes</h2>
    {% if user_quizes %}
    <div class="card-holder">
      {% for quiz in user_quizes %}
      <div class="quiz-card">
        <img
          src="{{url_for('static', filename='images/'+quiz.thumbnail)}}"
          alt="{{quiz.title}}"
          onclick="window.location.href=`{{url_for('userQuizDetails', quiz_id=quiz.id)}}`"
        />
        <span class="delete"><i class="fa fa-trash" aria-hidden="true" onclick="window.location.href=`{{url_for('delete_quiz', quiz_id=quiz.id)}}`" style="color: red;"></i></span>

        <div class="quiz-card-text">
          <p>
            <span class="subject">{{quiz.subject}}</span> :
            <span class="topic">{{quiz.title}}</span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    {% else %}
    <p>No Quizes made yet.</p>
    {% endif %}
  </div>
</div>
{% endblock body %}
{% block jsfile %}
<script>
  let themePurple=localStorage.getItem('theme-purple')
let themeBlue=localStorage.getItem('theme-blue')
let bodyGradient=localStorage.getItem('body-gradient')
let anchorHoverOpacity=localStorage.getItem('anchor-hover-opacity')
document.documentElement.style.setProperty('--theme-purple', themePurple);
document.documentElement.style.setProperty('--theme-blue', themeBlue);
document.documentElement.style.setProperty('--body-gradient', bodyGradient);
document.documentElement.style.setProperty('--anchor-hover-opacity', anchorHoverOpacity);
if (localStorage.getItem('theme-purple') === '#000') {
    document.documentElement.style.setProperty('--heading-color', '#fff');
}
</script>

{% endblock jsfile %}