
        main{
            margin-top: 80px;
            margin-left: 180px;
            /* height: 100vh; */
            width: calc(100%-80px);
            padding-top: 37px;
            display: flex;
            flex-direction: column;
            gap: 37px;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-width: none;
            padding-bottom: 20px;
        }
        .subject{
            box-shadow: 0 4px 13.6px 0.5px var(--theme-blue);
            color: #fff;
            position: relative;
        }
        @keyframes rightLoad{
            0%{
                transform: translateX(1200px);
                opacity: 1;
            }
            100%{
                transform: translateX(0px);
                opacity:1
            }
        }
        @keyframes leftLoad{
            0%{
                transform: translateX(-1200px);
                opacity:1
            }
            100%{
                transform: translateX(0px);
                opacity: 1;
            }
        }
        main .right{
            position: relative;
            width:1200px;
            height: 300px;
            transform: translateX(1100px);
            align-self: flex-end;
            background-image: linear-gradient(to right, var(--theme-purple) 40%,var(--theme-blue));
            border-radius: 200px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 100px;
            padding-bottom: 23px;
            opacity: 0;
            transition: all 0.1s ease;
        }
        .visibleRight{
            animation: rightLoad 0.8s linear forwards;
            /* transform: translateX(0px); */
        }

        main .left{
            width:1200px;
            height: 300px;
            transform: translateX(-1100px);
            background-image: linear-gradient(to left,var(--theme-purple) 40%,var(--theme-blue));
            border-radius: 200px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 100px;
            padding-bottom: 23px;
            opacity: 0;
            transition: all 0.1s ease;
        }
        .visibleLeft{
            animation: leftLoad 0.8s linear forwards;
        }
        main .subject .subject-name{
            font-size: 65px;
            font-weight: normal;
        }
        main .subject #topics-div{
            display: flex;
            gap: 20px;
        }
        main .subject #topics-div .topics{
            height: 40px;
            border-radius: 23px;
            background-color: rgba(36,36,36,36%);
            padding-left: 30px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            gap: 20px;
            box-shadow: inset 2px 1px 6.4px rgba(0,0,0,0.25);
        }
        main .subject h5{
            font-weight: normal;
            font-size: 14px;
            margin-top: 20px;
            margin-right: 6px;
            margin-left: 6px;
        }
        main .subject #badge-div{
            display: flex;
            height: 50px;
            width: 170px;
            border-radius: 20px;
            background-color: rgba(50,50,50,63%);
        }
        main .right #progress-circle{
            height: 210px;
            width: 210px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 48px;
            left: 103px;
        }
        main .left #progress-circle{
            height: 210px;
            width: 210px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 48px;
            right: 103px;
        }
        #outer{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
                        
        }
        #inner{
            height: 170px;
            width: 170px;
            border-radius: 50%;
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                        /* inset -4px -4px 6px -1px rgba(255,255,255,0.7), */
                        /* -0.5px -0.5px 0px rgba(255,255,255,1), */
                        0.5px 0.5px 0px rgba(0,0,0,0.15),
                        0px 12px 10px -10px rgba(0,0,0,0.05);
            background-color: var(--theme-purple);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .number{
            font-weight: 550;
            color: #fff;

        }
        circle{
            fill: none;
            stroke: url(#GradientColor);
            stroke-width: 20px;
            stroke-dasharray: 565;
            stroke-dashoffset: 565;
            z-index: 5;
            /* animation: anim 2s linear forwards ; */
            transition: stroke-dashoffset 10s ease;
        }
        svg{
            position: absolute;
            height: 100%;
            width: 100%;
            /* top: 0;
            left: 0; */
        }
        /* @keyframes anim{
            100%{
                stroke-dashoffset: 147;
            }

        } */