
        /* Main content starts here */
        #main{
            margin-top:80px;
            margin-left:180px;
            padding-top:30px;
            padding-left:45px;
            padding-right:5px
        }
        #featured-quizes-container h2{
            font-size: 30px;
            font-weight: normal;
            font-family: 'nats';
            color: var(--heading-color);
        }
        #featured-quizes-container #arrow-keys-div{
            padding-right: 25px;
            display:flex;
            justify-content: end;
            gap:10px;
        }
        .arrow-keys{
            cursor: pointer;
        }
        #main #featured-quizes-container #card-holder{
            display: flex;
            flex-direction: row;
            gap:37px;
            overflow-x: scroll;
            scrollbar-width: none;
            padding: 5px;
            align-items: center;
            /* transition: all 0.4s ease; */
            scroll-behavior: smooth;
        }
        .quiz-card{
            width: 280px;
            height: 180px;
            /* background-color: #d3d3d3; */
            border-radius: 20px;
            cursor: pointer;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;
        }
        .quiz-card img{
            position: absolute;
            height:180px;
            width: 280px;
            border-radius: inherit;
        }
        .quiz-card-text{
            position: absolute;
            z-index: -1;
            background-color: black;
            color: #fff;
            opacity: 0;
            padding: 10px;
            border-radius: 20px;
            height: inherit;
            width: inherit;
            display: flex;
            align-items: start;
            justify-content: center;
            top:180px;
            transition: all 0.5s ease;
        }
        .quiz-card-text p{
            color: #ffffff;
            opacity: 2;
            text-align: center;
        }
        .quiz-card:hover{
            transform: scale(1.03);

        }
        .quiz-card:hover .quiz-card-text{
            z-index: 1;
            transform: translateY(-50px);
            opacity: 0.8;
            
        }
        .quiz-card:hover .quiz-card-text p{
            opacity: 1;
        }
        #multiplayer{
            margin-top:48px;
        }
        #multiplayer h2{
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: normal;
            font-family: 'nats';
            color: var(--heading-color);
        }
        #multiplayer-container{
            margin-left: 10px;
            display: flex;
            gap:40px;
            align-items: center;
        }
        #multiplayer-profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 180px;
        }
        #multiplayer-profile span{
            display: block;
            height: 70px;
            width:70px;
            border-radius: 100%;
            background-color: var(--theme-purple);
            margin-bottom: 4px;
            overflow: hidden;
        }
        #multiplayer-profile span img{
            height: 70px;
            width:70px;

        }
        #multiplayer-profile #profile-username{
            text-wrap: nowrap;
        }

        #multiplayer-container #card-holder{
            display: flex;
            flex-wrap: wrap;
            gap:45px;
            row-gap: 20px;
        }
        .multiplayer-quiz-card{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width:300px;
            background-image: radial-gradient(var(--theme-purple), var(--theme-blue));
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 20px;
            gap:6px;
            color: #fff;
            transition: all 0.2s ease;
        }
        .multiplayer-quiz-card:hover{
            background-image: radial-gradient(var(--hover-purple), var(--hover-blue));
            transform: scale(1.03);
        }

        #subjects{
            margin-top:48px;
            
        }
        #subjects h2{
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: normal;
            font-family: 'nats';
        }
        #subjects #card-holder{
            display: flex;
            gap:37px;
            flex-wrap: wrap;
        }